*.o
*.lo
/INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
missing
.deps
.libs
/src/SWF.h
/src/g*.cpp
/src/swfmill
*.exe
*.la
/src/xslt/simple.cpp
/src/xslt/simple.xsl
.geanyprj
/test/xml-swf-round-trip/*.swf
/test/xml-swf-round-trip/*.swf.xml
/test/xml-swf-round-trip/*.diff
/test/build
/test/old/test.html
.dirstamp
/autoconfig/m4/libtool.m4
/autoconfig/m4/ltoptions.m4
/autoconfig/m4/ltsugar.m4
/autoconfig/m4/ltversion.m4
/autoconfig/m4/lt~obsolete.m4
*core
/test/old/build
/test/compile-and-verify/placeobject3-import.xml.swf
/test/compile-and-verify/placeobject3-import.xml.swf.xml
/test/transform-and-verify/*.xsl.out.xml
.vagrant*
/swfmill-*.tar.gz
/distribution
