*.o
*.lo
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
src/SWF.h
src/g*.cpp
src/swfmill
*.exe
*.la
src/xslt/simple.cpp
src/xslt/simple.xsl
w32-dist
.geanyprj
test/xml/*.swf
test/xml/*.swf.xml
test/xml/.*.test
test/build
test/simple-import/test.html
.dirstamp
